/* You can override this file with your own styles */

		#contentBox div {
      margin: 30px;
      padding-left: 70px;
    }
		
     img.poweredBy {
      width: 50px;
    }

    a:link {
        color: #258cd1;
    }

    a:visited {
        color: #59b84d;
    }

/* Carrouselle css */
wc-carousel-lite {
  height: 200px;
  width: 50%;
  margin: auto;
  display: flex;
}

.item {
  margin-left: 20px;
  margin-right: 20px;
}    